# Python
__pycache__/
*.pyc
*.pyo
.env
backend/ml/data/
backend/ml/models/*.pt
backend/ml/models/*.pth

# Flutter
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies

# General
.DS_Store
*.log
